@import "../../assets/sass/main";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .modal {
    display: flex;
    justify-content: center;
    align-items: center;

    .modalContainer {
      box-shadow: $boxShadow1;
      display: flex;
      min-width: 40vw;
      max-height: auto;
      width: 100%;
      border-radius: 10px;
      overflow: hidden;
      transition-duration: 0.3s;
      background: $whiteSmoke;

      .modalLeft {
        display: flex;
        flex-direction: column;
        padding: 60px 30px 20px;
        background: $white;
        flex: 1.5;
        transition-duration: 0.5s;
        opacity: 1;

        .modalTitle {
          display: flex;
          justify-content: center;
          margin-bottom: 10px;
          font-weight: 400;
          color: $black;
        }
        .modalDesc{
          display: flex;
          justify-content: center;
          margin-bottom: 50px;
          color: $grey;
        }

        .inputBlock {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: auto;
          width: 390px;
          height: 64px;
          margin-bottom: 5px;
          transition: 0.3s;
          .formError {
            font-size: 13px;
            color: $error;
            margin-left: 10px;
          }
        }

        .modalButtons {
          font-size: 14px;
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: auto;
          margin-bottom: 50px;
          margin-top: 20px;
          gap: 10px;
          width: 250px;
          .link {
            text-decoration: none;
          }
          a {
            color: $grey;
          }
          
        }
        .signUp {
          margin: 0px 0 0;
          font-size: 14px;
          text-align: center;
          color: $grey;
          
          .link {
            text-decoration: none;
          }
        }
      }
      .modalRight {
        flex: 2;
        font-size: 0;
        transition: 0.3s;
        overflow: hidden;
        .signupImage {
          width: 100%;
          height: 100%;
          transform: scale(1);
          -o-object-fit: cover;
          object-fit: cover;
          transition-duration: 1.2s;
        }
      }
    }
  }
}
