$antiflashWhite: #f5f6f8;
$whiteSmoke: #f3f3f3;
$black: #0c0c0c;
$grey: #7f7f7f;
$lightGrey: #c1c1c1;
$white: #ffffff;
$error:#b22b27;
$dash1:#F3F6FA;
$line:rgb(235, 231, 231);
$blue:#434CE7;
$purple:#8056D6;
$lightpurple:#8a69d0;
$sky:#E0EBFE;

$boxShadow1:rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
